body {
    background-color: #161616;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 1em;
  }

.main-body{
    border-radius: 5px;
    position: absolute;
    width: 60%;
    left: 20%;
    height: 50px;
    padding-top: 15px;
}